@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-5"><img width="450" src="~/images/MvcMovies.gif" /></div>
    <div class="col-sm-7">
        <h1>Keep track of all your favorite movies.</h1>
        <h2>Concepts demonstrated in this site:</h2>
        <ul>
            <li>ASP.NET Core MVC</li>
            <li>Entitiy Framework code first design</li>
            <li>Azure deployment</li>
            <li>Search on title</li>
        </ul>
        <p>View the code for this application at: <a href="https://github.com/davemaz/MvcMovie">https://github.com/davemaz/MvcMovie</a></p>
    </div>
</div>